<ion-view title="Sign Up - Company">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Company Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Your Company Email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Your Position">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Company Code">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Confirm Password">
      </label>
    </div>
    <div class="padding">
      <button nav-clear class="button button-block button-balanced" ng-click="signInCompany(user)" >
        Sign Up
      </button>
    </div>
  </ion-content>
</ion-view>