<!-- <ion-nav-bar class="bar-balanced nav-title-slide-ios7"></ion-nav-bar>
<ion-view title="ENGNR">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="LinkedIn Email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="user.password">
      </label>
    </div>
    <div class="padding">
      <button nav-clear class="button button-block button-balanced" ng-click="signIn(user)" >
        Log in
      </button>
      <a href="#/signup">
        <button class="button button-block button-dark">Sign Up</button>
      </a>
    </div>
  </ion-content>
</ion-view>
 -->

<ion-nav-bar class="bar-balanced nav-title-slide-ios7"></ion-nav-bar>

<ion-view title="Login" >
      <ion-content>
        <!-- The content of the page -->
      </ion-content>
</ion-view>
